.team__application__block_reject {
   
    border: 1px solid #303030;
    color: #818181;
    
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    min-height: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}