.team__logo {
    width: 150px;
    height: 60px;
    background-color: #818181;
    color: #303030;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}