{% load static %}

<div class="header__content root__content">
    <img src="{% static 'img/logo.png' %}" alt="Лого"/>
    <nav class="header__links">
        <a href="{% url 'index' %}" class="header__link header__link_activ">Главная</a>
        <a href="#" class="header__link">Команды</a>
        <a href="#" class="header__link">Задачи</a>
        <a href="#" class="header__link">О нас</a>
        <a href="#" class="header__link">Форум</a>
        <a href="#" class="header__link">Статьи</a>
    </nav>
    <img src="{% static 'img/search_24px_outlined.svg' %}" alt="Поиск"/>
    <button class="buttons_type_white header__button">Войти</button>
</div>