.task {
    background-image: url("../../img/background_team.jpg");
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
    height: 900px;
  }