.tasks {
    background-image: url("../../../img/background_tasks.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 630px;
}