{% load companion %}
{% load i18n %}

<div class="panel">
    {% load tz %}
    {% if chats.count == 0 %}

    <div class="panel panel-body">
        {% trans "Нет ни одного начатого диалога" %}
    </div>

    {% endif %}
    <div id="accountChat">
        <div class="tab">
            {% for chat in chats %}

            {% if chat.message_set.count != 0 %}
            {% with last_message=chat.message_set.last %}
            {% get_companion request.user chat as companion %}

            <button class="tablinks" data-id="{{ companion.username }}">
                <img class="avatar-messages" src="{{ companion.user_profile.avatar_or_default }}">
                {{ companion.username }}
            </button>
            {% endwith %}
            {% endif %}

            {% endfor %}
        </div>

        <div id="accountOpenChat">
            {% for chat in chats %}

            {% if chat.message_set.count != 0 %}
            {% with last_message=chat.message_set.last %}
            {% get_companion request.user chat as companion %}
            <div class="tabcontent" id="{{ companion.username }}">
                {% if companion != last_message.author %}
                <div class="registration__inner__messages">

                    <img class="avatar-rounded-sm" src="{{ last_message.author.user_profile.avatar_or_default }}">
                    <div class="account__message attached-reply-body {% if not last_message.is_read %}unreaded{% endif %}"
                        data-link="{{ chat.get_absolute_url }}">
                        {% for mes in chat.message_set.all %}
                        {{ mes.author }}
                        <div class="account__message">
                            {{ mes|truncatechars_html:"200"|safe|striptags }}

                        </div>
                        <p class="account__message_date">{{ mes.pub_date|utc }}</p>
                        {% endfor %}
                         <!--{# {{ last_message.message|truncatechars_html:"200"|safe|striptags }}  #}-->
                    </div>
                    <p class="account__message_date">{{ last_message.pub_date|utc }}</p>
                    {% else %}
                    <div class="account__message">
                        <!-- {# {{ last_message.message|truncatechars_html:"200"|safe|striptags }} #} -->
                        
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endwith %}
            {% endif %}

            {% endfor %}
        </div>
    </div>


</div>