{% load wagtailcore_tags %}
{% load i18n %}
{% if not chat %}
<div class="panel panel-body">
    {% trans "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе." %}
</div>
{% else %}
{% load tz %}
{% if chat %}
<div id="messages" class="panel">
    <div id="innerMessages">

        {% for message in chat.message_set.all %}
        {% include 'messageapp/message.html' with message_item=message %}
        {% endfor %}
    </div>
</div>
{% endif %}
<div id="message_form">
    <form id="messageFormJs" data-action="{% url 'messageapp:messages' chat.pk %}" class="registration__form"
        method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div>

            {{ form }}

        </div>
        <input type="submit" value="Отправить" class="buttons_type_white button__submit__registration__form"
            id="submit__application">
    </form>
</div>
{% endif %}