{% url 'users:profile' message_item.author.username as the_user_url %}
{% load tz %}
{% load wagtailcore_tags %}
<div class="list-group-item {% if not message_item.is_read %}unread{% endif %}">
    <a href="{{ the_user_url }}"><img class="avatar-comment" src="{{ message_item.author.user_profile.get_avatar }}"></a>
    <div class="reply-body account__reply_body">
        <ul class="list-inline account__list_inline">
            <li class="drop-left-padding">
                <strong class="list-group-item-heading"><a href="{{ the_user_url }}">{{ message_item.author }}</a></strong>
            </li>
            <li class="pull-right text-muted account__message_date"><small>{{ message_item.pub_date|utc }}</small></li>
        </ul>

        <div class="account__message_inline">{{ message_item.message}}</div>
        
    </div>
</div>