{% load wagtailcore_tags %}
{% load i18n %}
{% if not chat %}
<div class="panel panel-body">
    {% trans "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе." %}
</div>
{% else %}
{% load tz %}
{% if chat %}
<div class="registration__inner__messages">
    <div id="messages" class="panel">
        <div id="innerMessages">

            {% for message in chat.message_set.all %}
            {% include 'messageapp/message.html' with message_item=message %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div id="message_form">
    <form id="messageFormJs" data-action="{% url 'messageapp:messages' chat.pk %}" method="post"
        enctype="multipart/form-data">

        {% csrf_token %}
        <span>
            <img src="/static/img/send_24px.png" alt="" id="registration__send">
        </span>
        <div class="message__form">

            {{ form }}

        </div>
        <!-- <input type="submit" value="submit"> -->
    </form>
</div>

{% endif %}