{% extends 'forumapp/base.html' %} {% load static %} {% block conteiner %}
<div class="forum__background root__container">
  <div class="forum__header root__content">
    <p>Название темы</p>
    <p>Раздел</p>
  </div>
  <div class="root__content">
    {% for object in object_list %}
    <div class="forum__message__block">
        <div class="forum__avatar__div">
            <!-- Здесь выводит не аватар автора, а аватар юзера -->
            <img class="forum__avatar" src=" /media/{{ object.avatar|default:user.avatar_or_default }}" alt="Avatar" />
            <p>{{ object.author_branch_forum }}</p>
        </div>
      <div>
          <p class="forum__p">Создано</p>
        <p>{{ object.date_create }}</p>
      </div>
      <div class="forum__answers">
        <p class="forum__p">Ответов</p>
        <p>10</p>
      </div>
      
      <p>{{ object.body }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="forum__form__block root__content">
    
      
      <form
        class="forum__form"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="forum__form__div">{{ form }}</div>
        <input
          type="submit"
          value="Ответить"
          class="forum__button__submit"
          id="submit__application"
        />
      </form>
    
  </div>
  <div class="teams__pages__block root__content">
    
        <div class="teams__pages">
            <a href="#">
                
                <
                
            </a>
        </div>

    <div class="page__active teams__pages">1</div>
    
        <div class="teams__pages">
            <a href="#">
                
                >
            </a>
        </div>


</div>
</div>
{% endblock %}
