{% extends 'authapp/base.html' %}
{% load static %}

{% block conteiner %}
<div class="registration__form__background">
    <section class="registration__form__content root__container">
        <a href="{% url 'authapp:profile' %}" class="button__registration__form">
            <img class="button__registration__form__img" src="/static/img/Arrow.png">
            Назад
        </a>
        <h1 class="registration__form__content__h1">
            Редактировать профиль
        </h1>
        <form action="{% url 'authapp:update' %}" class="registration__form" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            {% for form in forms %}

            {% if form.label == 'Профессия' %}
            <div class="registration__form__check">
                {% for prof in form %}
{#                    с эти циклом нужно работать#}
               {{ prof }}
                    <span>hh</span>
                {% endfor %}
            </div>

            {% else %}
            {% if form.label != 'Пароль' %}
            <div>
                <label for="{{ form.id_for_label }}" class="registration__form_input_label"> {{ form.label }} </label>
                {{ form }}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <input type="submit" value="Сохранить" class="buttons_type_white button__submit__registration__form"
                id="submit__application">
        </form>
    </section>
</div>

{% endblock %}