{% extends 'authapp/base.html' %}
{% load static %}

{% block conteiner %}
    <div class="root darkgrey_background authorization__page">
        <section class="authorization__block">
            <a href="{% url 'authapp:login' %}" class="hover__yellow">Вход</a>
            <a href="{% url 'authapp:register' %}" class="hover__yellow">Регистрация</a>
        </section>
        <section class="authorization__main root__container">
            <form action="{% url 'authapp:login' %}" method="post" enctype="multipart/form-data" class="authorization__form">
                {% csrf_token %}
                {% for form in forms %}
                    <div>
                        <label for="{{ form.id_for_label }}"
                               class="registration__form_input_label"> {{ form.label }} </label>
                        {{ form }}
                    </div>
                {% endfor %}
                <!-- </br> -->
                <label class="registration__form_checkbox"><input type="checkbox" name="personalinfo"
                                                                  id="personalinfo">
                    <span class="registration__form_checkmark"></span>
                    Запомнить меня</label>
                <input type="submit" value="Войти"
                       class="buttons_type_white button__submit__registration__form" id="submit__application">
            </form>
            <a href="{% url 'mainapp:password_reset' %}" class="authorization__password__link">Забыли пароль?</a>
        </section>
    </div>


{% endblock %}