.account__message_inline {
    width: 600px;
    min-height: 80px;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #818181;
    border-radius: 10px;
    padding: 8px;
    grid-column: 2;
}