.account__summary {
    display: none;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    background-color: #818181;
    height: 200px;
    width: 190px;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 22px;
    position: absolute;
    margin-top: 42px;
}
