.account__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #818181;
    margin-top: 25px;
    
    height: 72px;
    padding-bottom: 60px;
}