.account__mailContent {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    color: #212121;
    border-radius: 10px;
    min-height: 80px;
}

