.account__close {
    padding-top: 5px;
    right: 11%;
    position: absolute;
    font-size: 35px;

}

.account__close:hover {
    color: #DFE3DE;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}