.tab {
    float: left;
    width: 100%;
    position: relative;
  }
  
  #tab_column {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 54px;
    border-right: 1px solid #C1C1C1;
   height: 600px;
   overflow-y: scroll;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-top: 2px solid #818181;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 80px;
  }

  .tab button:last-child {
    border-bottom: 2px solid #818181;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #818181;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    display: none;
    width: 94%;
    position: relative;
    padding-bottom: 40px;
    /* height: 100%; */
  }