.main__subtitle {
  max-width: 750px;
  
  /* Header2 */

  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  /* or 160% */

  text-align: left;

  /* White */

  color: #FFFFFF;
    margin: 32px 0 48px;
}