.articles {
    background-image: url("../../../img/background_article.jpg");
    min-height: calc(100vh - 350px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
  }