.article__box {
    border: 1px solid #C1C1C1;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    padding: 40px;
    width: 680px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}