.id_message {
    height: 45px !important;   
    width: 99.2%;
    border-style: none; 
    border-color: Transparent; 
    outline: none;
    resize: none;
    padding-left: 21px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.id_message::-webkit-input-placeholder {
    
    font-size: 16px;
    line-height: 24px;
}

.id_message::-moz-placeholder {
    
    font-size: 16px;
    line-height: 24px;
}

.id_message:-ms-input-placeholder {
    
    font-size: 16px;
    line-height: 24px;
}

.id_message::-ms-input-placeholder {
    
    font-size: 16px;
    line-height: 24px;
}

.id_message::placeholder {
    
    font-size: 16px;
    line-height: 24px;
}
