.registration__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    min-height: 525px;
    width: 454px;
    /* -webkit-box-align: center; */
        /* -ms-flex-align: center; */
            /* align-items: center; */
    margin-top: 30px;
}