{% extends 'mainapp/base.html' %}


{% block conteiner %}

{#	{% load crispy_forms_tags %}          #}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкции по настройке нового.</p>
        <form method="POST">
            {% csrf_token %}
{#            {{ password_reset_form|crispy }}                    #}
                        {{ password_reset_form }}
            <button class="btn btn-primary" type="submit">Отправить на email адрес</button>
        </form>
  	</div> 

{% endblock %}