{% extends "mainapp/base.html" %} 
{% block conteiner %}

<!--Password Reset Complete-->
<div class="registration__form__background">
  <section class="registration__form__content__password root__content">
    <h2 class="registration__form__content__h2">Password reset complete</h2>
    <hr />
    <p class="registration__form__content__p">Ваш пароль был установлен. Вы можете войти в систему прямо сейчас.</p>
    <a href="{% url 'authapp:login' %}" class="btn btn-primary button__registration__password buttons_type_white">Вход</a>
  </section>
</div>
{% endblock %}
