{% extends 'mainapp/base.html' %}


{% block conteiner %}

    <!--Password reset sent-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
        <hr>
        <p>Мы отправили вам по электронной почте инструкции по установке пароля. Вы должны получить их в ближайшее
            время.<br> Если вы не получили
            электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались, и проверьте
            папку со спамом.</p>
    </div>

{% endblock %}