{% extends "mainapp/base.html" %}

{% block conteiner %}

{#  {% load crispy_forms_tags %}  #}
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Пожайлуста введите новый пароль</p>
        <form method="POST">
            {% csrf_token %}
{#            {{ form|crispy }}         #}
             {{ form}}
            <button class="btn btn-primary" type="submit">Сменить пароль</button>
        </form>
    </div>

{% endblock %}