{% extends 'mainapp/base.html' %} 
{% block conteiner %}

<!--Password reset sent-->
<div class="registration__form__background">
  <section class="registration__form__content__password root__content">
    <h2 class="registration__form__content__h2">Password reset sent</h2>
    <hr />
    <p class="registration__form__content__p">
      Мы отправили вам по электронной почте инструкции по установке пароля. Вы
      должны получить их в ближайшее время.<br />
      Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы
      ввели адрес, на который зарегистрировались, и проверьте папку со спамом.
    </p>
  </section>
</div>
{% endblock %}
