.drop_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 15px 0;
}

.drop_block:hover {
	color: #FAFD5A;    
}

.drop_block:hover .drop_summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
