{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

<section class="main root__container">
    <div class="tasks__header root__content">
        <p>О нас</p>
        
    </div>
    <div class="main__background">
       
        <div class="main__content__about root__content">
            <p><span class="main__content__about__it">IT</span>begin - это независимая онлайн платформа для разработчиков
                и веб-дизайнеров. Здесь вы можете объединяться в команды и создавать проекты</p>
            <p>Будем рады сотрудничеству!</p>
            <p>Для отзывов и предложений пишите:</p>
            <p>team@it.begin</p>
            <p>По вопросам рекламы пишите в телеграм:</p>
            <p>@it.begin</p>
        </div>
    </div>
    </div>
</section>


{% endblock %}