{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="main root__container">
        <div class="tasks__header root__content">
            <p>О нас</p>

        </div>
        <div class="main__background">

            <div class="main__content__about root__content">
                <p><span class="main__content__about__it">IT</span>-begin - это независимая онлайн платформа для
                    разработчиков , веб-дизайнеров и представителей других профессий IT. </p>
                <p>Здесь вы можете найти единомышленников для реализации своих идей, собрать команду, выбрать себе
                    интересный проект, поучаствовать в командной разработке, получить опыт работы над реальными
                    задачами. </p>
                <hr style="width: 90%">
                <p> Наша команда принимает заказы на разработку сайтов. Мы делаем адаптивные сайты с уникальным
                    дизайном. Пример нашей работы: <a href="https://ataraxia.space/" target="_blank">https://ataraxia.space/</a></p>
                <p>Будем рады сотрудничеству!</p>
                <hr style="width: 90%">
                <p>Для отзывов и предложений пишите: admin@it-begin.ru</p>

                <hr style="width: 90%">
                <p>По вопросам рекламы пишите в телеграм: <a href="https://msngr.link/tg/@Vasiliy_Shcherbatykh">@Vasiliy_Shcherbatykh</a></p>
                <p></p>
            </div>
        </div>
        </div>
    </section>


{% endblock %}