{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="main root__container">
        <div class="main__background">
            <div class="main__content root__content">
                <h1 class="main__title">Получи опыт в своей новой IT профессии</h1>
                <h2 class="main__subtitle">
                    Находи задачи и создавай команды для реализации своих идей!
                </h2>
                <div class="main__buttons">
                    <a href="{% url 'mainapp:tasks' %}" class="buttons_type_white main__button">
                        Найти задачу
                    </a>
                    <a href="{% url 'groupapp:create_group' %}" class="buttons_type_white main__button">
                        Создать команду
                    </a>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}