{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="main root__container">
        <div class="main__background">
            <div class="main__content root__content">
                <h1 class="main__title">Получи опыт в своей новой IT профессии</h1>
                <h2 class="main__subtitle">
                    Находи задачи и создавай команды для реализации своих идей!
                </h2>
                <div class="main__buttons">

                    <button class="buttons_type_white main__button"><a href="{% url 'mainapp:tasks' %}">
                        Найти задачу
                    </a>

                    </button>
                    <button class="buttons_type_white main__button">
                        <a href="{% url 'groupapp:create_group' %}">
                            Создать команду
                        </a>

                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="news root__container">
        <div class="news__content root__content">
        <div class="news__articles">
          <div class="news__header">
            <p class="news__header-label">Новости</p>
            <select class="selects_type_darkGray news__select">
              <option value="all">Все категории</option>
              <option value="kat1">Категория 1</option>
              <option value="kat2">Категория 2</option>
              <option value="kat3">Категория 3</option>
            </select>
          </div>
          <div class="news__article">
            <img src="/static/img/news1.png" class="news__article-img" />
            <div class="article">
              <h2 class="article__label">Тема</h2>
              <p class="article__text">Описание Новости</p>
              <p class="article__data">Дата</p>
            </div>
          </div>
          <div class="news__article">
            <img src="/static/img/news1.png" class="news__article-img" />
            <div class="article">
              <h2 class="article__label">Тема</h2>
              <p class="article__text">Описание Новости</p>
              <p class="article__data">Дата</p>
            </div>
          </div>
          <div class="news__article">
            <img src="/static/img/news1.png" class="news__article-img" />
            <div class="article">
              <h2 class="article__label">Тема</h2>
              <p class="article__text">Описание Новости</p>
              <p class="article__data">Дата</p>
            </div>
          </div>
          <div class="news__footer">
            <button class="buttons_type_darkGray news__load">
              Загрузить еще
            </button>
          </div>
        </div>
        <div class="news__forum">
          <img src="/static/img/forum.jpg" alt="Форум" />
        </div>
      </div>
    </section>

{% endblock %}
