{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}
    <section class="tasks root__container">
        <div class="tasks__background">
            {% include 'mainapp/includes/inc__category_task.html' %}
            <div>
                {% for object in object_list %}
                    <div class="tasks__content root__content">
                        <a href="{% url 'mainapp:task' object.pk %}">
                            <p class="team__headline">{{ object.name }}</p>
                            <p class="tasks__description">{{ object.full_description }}</p>
                        </a>
                    </div>

                {% endfor %}
                <a href="{% url 'mainapp:create_task' %}" style="color: white;">Создать задачу</a>
            </div>
        </div>

    </section>

{% endblock %}