{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

    Task
    <ul>
{{ task }}
             <li>----------------------------------------------------------------</li>
            <li> {{ task.name }}</li>
            <li> {{ task.short_description }}</li>
            <li>{{ task.full_description }}</li>
            <li>{{ task.tz }}</li>
            <li>{{ task.author }}</li>
            <li>{{ task.id }}</li>

            <li>----------------------------------------------------------------</li>

    </ul>
    <a href="{% url 'mainapp:tasks' %}">задачи</a>
{% endblock %}