{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}
<section class="tasks root__container">
    <div class="tasks__background">
        <div class="tasks__header root__content">
            <p>Задачи</p>
            <div class="teams__drop">
                <div class="drop_block"> Категории<i class="fas fa-caret-down drop_caret"></i>
                    <div class="drop_summary teams__summary">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tasks__content root__content">
            <p class="team__headline">Название</p>
            <p class="tasks__description">Описание</p>
        </div>
        <div class="root__content">
            <!-- <p style="color: white;">Tasks</p> -->
            <ul style="color: white;">
                {% for task in tasks %}
                <li>----------------------------------------------------------------</li>
                <li> {{ task.name }}</li>
                <li> {{ task.short_description }}</li>
                <li>{{ task.full_description }}</li>
                <li>{{ task.tz }}</li>
                <li>{{ task.author }}</li>
                <li>{{ task.id }}</li>
                <li><a href="{% url 'mainapp:task' task.id %}">Task</a> </li>
                <li>----------------------------------------------------------------</li>
                {% endfor %}
            </ul>
            <a href="{% url 'mainapp:create_task' %}" style="color: white;">Создать задачу</a>
        </div>
    </div>

</section>

{% endblock %}