.article__text {
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #212121;

-webkit-box-flex: 1;

    -ms-flex-positive: 1;

        flex-grow: 1;
}