.footer__link {
  margin-bottom: 24px;
  text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #212121;
}

.footer__link:hover {
  cursor: pointer;
}