{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}
    <div class="registration__form__background">
        <section class="registration__form__content root__container">
            <a href="{% url 'groupapp:groups' %}" class="button__registration__form">
                <img class="button__registration__form__img" src="/static/img/Arrow.png">
                Назад
            </a>
            <h1 class="registration__form__content__h1">
                Заполни форму, что бы создать команду
            </h1>
            <form class="registration__form" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}"
                               class="registration__form_input_label"> {{ field.label }} </label>
                        {{ field }}
                    </div>
                {% endfor %}


                <input type="submit" value="Создать"
                       class="buttons_type_white button__submit__registration__form" id="submit__application">
            </form>
        </section>

    </div>
{% endblock %}