{% extends 'groupapp/base.html' %}
{% load static %}


{% block conteiner %}
<div class="registration__form__background">
    <section class="registration__form__content root__container">
        <a href="{% url 'groupapp:group' object.group.pk %}" class="button__registration__form">
            <img class="button__registration__form__img" src="/static/img/Arrow.png">
            Назад
        </a>
        <div class="team__descr_prof">
            <h3> {{ object.profession }}</h3>
            <h4>{{ object.description }}</h4>
            {{ object.pk }}
        </div>
        <a href="{% url 'groupapp:create_application_need_prof' object.pk %}" class="buttons_type_white team__descr__button">
            Подать заявку
        </a>
    </section>
</div>
{% endblock %}