{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}
    <div>
    {{ request.resolver_match.kwargs.pk }}
    <a href="{% url 'groupapp:update_vacancy'  request.resolver_match.kwargs.pk %}">редактировать вакансии</a>
    </div>
     <div>
    <a href="{% url 'groupapp:update_group' request.resolver_match.kwargs.pk %}">редактировать данные</a>
    </div>
    <div>
    <a href="{% url 'groupapp:delete_group' request.resolver_match.kwargs.pk %}">удалить команду</a>
    </div>

{% endblock %}