{% extends 'groupapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="team root__container">
        <div class="account__background">
            <div class="account__header root__content">
                <p>Команда</p>
                <div class="team__header__task">
                    {% if this_group.author == user %}
                        <div class="team__header__task">
                            <a href="{% url 'groupapp:applications_to_team' request.resolver_match.kwargs.pk %}">
                                <img src="/static/img/person_add.png" alt="">
                            </a>
                        </div>
                        <div class="team__header__task">
                            <a href="{% url 'groupapp:setting_group' request.resolver_match.kwargs.pk %}">
                                <i class="fas fa-cog"></i>
                                
                            </a>
                        </div>
                    {% endif %}
                    <div class="drop_block team__drop"> Задачи<i class="fas fa-caret-down drop_caret"></i>
                        <div class="drop_summary account__summary">
                            <a href="{% url 'groupapp:tasks_for_group' this_group.pk %}">Взятые</a>
{#                            <a href="{% url 'groupapp:tasks_done_for_group' this_group.pk %}">Сделанные</a>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="team__profile root__content">
                <div class="team__profile__info">
                    <div class="team__logo__block">

                        <img class="team__logo_small" src="/media/{{ this_group.logotype|default:this_group.avatar_or_default }}" alt="">
                        <p>{{ this_group.name }}</p>
                    </div>
                    <p>{{ this_group.description }}</p>
                    
                </div>
                <div class="team__persons__block">
                    <div class="account__content__div">
                        <p class="team__headline">Состав команды</p>
                        <div class="team__persons">
                            {% for object in members %}
                                <div class="team__person">
                                    <a href="{% url 'authapp:user_profile' object.pk %}">
                                        <img class="team_user__avatar__img" src="/media/{{ object.avatar|default:'../../../static/img/avatar.png' }}" alt="avatar">
                                    </a>
                                    <p>{{ object.first_name }}</p>
                                    <p>{{ object.last_name }}</p>
                                    <p>{{ object.profession.first }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="team__vacancy__block">
                    <div class="drop_block team__headline">
                        Занятые вакансии<i class="fas fa-caret-down drop_caret"></i>
                        <div class="drop_summary team__summary">
                            {% for prof in occupied_vacancy %}
                                <div>
                                    {{ prof.profession }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="drop_block team__headline">
                        Свободные вакансии<i class="fas fa-caret-down drop_caret"></i>
                        <div class="drop_summary team__summary">

                            {% for prof in need_professions %}
                                <div>
                                    <a href="{% url 'groupapp:need_prof_view' prof.pk %}">
                                        {{ prof.profession }}

                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
{#                <div class="team__forum">#}
{#                    <div class="team__chat__forum__block">#}
{#                        <a href="#">#}
{#                            <p class="team__headline">#}
{#                                <a href="{% url 'chatapp:room' this_group.pk %}">Чат</a>#}
{#                                /#}
{#                                <a href="{% url 'forunapp:forum' %}">Форум</a>#}
{#                            </p>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
{% endblock %}