{% extends 'groupapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="teams root__container">
        <div class="account__background">
            <div class="account__header root__content">
                <p>Команды</p>
                <div class="teams__drop">
                    <div class="drop_block"> Поиск команды<i class="fas fa-caret-down drop_caret"></i>
                        <div class="drop_summary teams__summary">
                            <a href="#">Название</a>
                            <a href="#">Свободные вакансии</a>
                            <a href="#">Дата создания</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teams__buttons root__content">
                <button class="account__button buttons_type_white">Найти команду</button>
                <button class="account__button buttons_type_white">
                    <a href="{% url 'groupapp:create_group' %}">
                        Создать команду
                    </a>
                </button>
                <a href="{% url 'groupapp:user_groups' %}">
                    <button class="account__button buttons_type_white">Мои команды</button>
                </a>
            </div>
            <div class="teams__block root__content">

                {% for object in page_obj %}
                    <div class="teams__part">
                        <a href="{% url "groupapp:group" object.pk %}"><p class="teams__part__logo"></p></a>
                        <p>{{ object.name }}</p>
                        <p>всего / занято вакансий &#183;
                            {{ object.need_profession.count }} / {{ object.team_members.count }}
                        </p>
                    </div>
                {% endfor %}

            </div>
            <div class="teams__pages__block root__content">
                {% if page_obj.has_previous %}
                    <div class="teams__pages">
                        <a href="{% url 'groupapp:user_groups_paginator' page_obj.previous_page_number %}">
                            <
                            {{ page_obj.previous_page_number }}
                        </a>
                    </div>
                {% endif %}
                <div class="page__active teams__pages">{{ page_obj.number }}</div>
                {% if page_obj.has_next %}
                    <div class="teams__pages">
                        <a href="{% url 'groupapp:user_groups_paginator' page_obj.next_page_number %}">
                            {{ page_obj.next_page_number }}
                            >
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
