{% extends 'groupapp/base.html' %}
{% load static %}


{% block conteiner %}

    <section class="teams root__container">
        <div class="account__background">
        {% include 'groupapp/includes/inc__search_group.html' %}

            <div class="teams__block root__content">

                {% for object in object_list %}
                    <div class="teams__part">
                        <a href="{% url "groupapp:group" object.pk %}">
                            <img class="team__logo" src="/media/{{ object.logotype }}" alt="">
                        </a>
                        <p>{{ object.name }}</p>
                        <p>всего / занято вакансий &#183;
                            {{ object.need_profession.count }} / {{ object.team_members.count }}
                        </p>
                    </div>
                {% endfor %}

            </div>
            <div class="teams__pages__block root__content">
                {% if page_obj.has_previous %}
                    <div class="teams__pages">
                        <a href="{% url 'groupapp:user_groups_paginator' page_obj.previous_page_number %}">
                            <
                            {{ page_obj.previous_page_number }}
                        </a>
                    </div>
                {% endif %}
                <div class="page__active teams__pages">{{ page_obj.number }}</div>
                {% if page_obj.has_next %}
                    <div class="teams__pages">
                        <a href="{% url 'groupapp:user_groups_paginator' page_obj.next_page_number %}">
                            {{ page_obj.next_page_number }}
                            >
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}